# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/

# Blender
*.blend1
*.blend2
*.blend3

# Database
*.sqlite3
*.db

# IDE
.vscode/
.idea/
*.swp

# Misc
.DS_Store
.history/
checkpoints/
output/ 